* {
    --blue-light: #2F2963;
    --orangeish: #EF946C;
    color: #E7E9CF
}


body {
    background-color: var(--blue-light);
    color:#E7E9CF ;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* Text align is horizontal*/
    text-align: center;
    /* Align items is vertical*/
    align-items: center;
}

header {
    
    display: flex;
    flex-direction: column;
    /* Text align is horizontal*/
    text-align: center;
    /* Align items is vertical*/
    align-items: center;
    
}

.logo {
    height: 150px;
    width: 150px;
    background-color: var(--orangeish);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border: solid  #E7E9CF 5px;
    border-radius: 50%;
}

.logo p {
    background-color: #2F2963;
    padding: 1em;
    border-radius: 20%;
    color: var(var(--orangeish));
}

nav a {

    text-decoration: none;
    background-color: var(--orangeish);
    color: var(var(--blue-light));
    padding: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 5%;
    transition: 1s;
}

/* Any button over which the user's pointer is hovering */
nav a:hover {
    color: #2F2963;
    font-size: 2em;
  }

.training-option {
    margin-top: 15dvw;
    background-color: var(--orangeish);
    padding: 2rem;
    border-radius: 5%;
    flex-direction: row;
}

.training-option img {
    width: 70dvw;
    border-radius: 4%;
}

@media screen and (min-width: 600px) {
    main {
        display: row;
        flex-direction: wrap;
        justify-content: space-between;
    }
}
img {
    transition: 3s;
}

img:hover {
    transform: rotate(15deg);
}
    
